body{
    background-color: #0f2e60;
    margin: 0;
    padding: 0;
}
.bledorPic{
    border-radius: 100px;
    display: block;
    margin-top: 130px;
    margin-left: 300px;
}
.denisPic{
    border-radius: 400px;
    display: block;
    margin-left: 900px;
}
.BledPortofolio{

}