@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --container-color: #b0c6d2;
  --nav-text-color: #ffffff;
  --nav-bg-color: #000000;

  --body-color: #7367f0;
  /* --dark-mode: #242f35; */
  /* Dark mode #242f35 */

  /*==========Font=========*/
  --title-font: "Adventure";
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.875rem;
  --text-font-size: 0.938;
  --small-font-size: 0.8rem;
  --nav-font-size: 1.25rem;
  --stats-font-size: 0.813rem;
  --point-font-size: 0.625rem;

  /* =======Font Weight======== */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;
  /* =======Margenes bottom======== */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    /* --h3-font-size: 1.25rem; */
    --normal-font-size: 1.25rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /* background: var(--body-color); */
  /*color: var(--text-color);*/
  /* transition: 0.5s background ease; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  width: 80px;
  height: 40px;
  border-radius: 10px;
  margin-left: var(--mb-1-5);
  margin-top: var(--mb-2-5);
  background: linear-gradient(to bottom right, #43cbff, #9708cc);
  color: white;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 1rem 0 2rem;
}
.login-section {
  padding: 8rem 0 2rem;
}
.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}
/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}
/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
/* Change background header */
.scroll-header {
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -210.71%, rgba(255, 255, 255, 0.4) 414.29%);;
  box-shadow: -70px 10px 95px rgba(0, 0, 0, 0.25); */
  background-color: #341664;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
  font-family: var(--title-font);
  font-size: var(--nav-font-size);
}
.nav__logo-img {
  width: 5.5rem;
}
.nav__link,
.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--nav-text-color);
}
.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}
.nav__toggle img {
  width: 1.263rem;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    background: var(--nav-bg-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: 0.4s;
    z-index: var(--z-fixed);
    border-radius: 0 0 1.5rem 1.5rem;
  }
}
.nav__close {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.nav__link {
  font-weight: var(--font-medium);
  transition: 0.4s;
}
.nav__register {
  padding: 10px 20px;
  border-radius: 40px;
  background: linear-gradient(to bottom right, #ce9ffc, #7367f0);
}
.nav__about {
  margin-bottom: var(--mb-2);
}
/* Show menu */
.show-menu {
  top: 0;
}
/* ------Home Bg------- */

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
.home__container {
  position: relative;
  height: 100%;
  display: grid;
  text-align: center;
}
.home__data {
  margin-top: 50px;
}
.home__data h1 {
  font-family: var(--title-font);
  font-size: 3.3rem;
  color: white;
  margin-bottom: var(--mb-0-5);
}
.home__data p {
  color: white;
  margin-bottom: var(--mb-1-5);
}
.home__links {
  justify-self: center;
  margin-bottom: var(--mb-1);
}
.home__links-button {
  width: 180px;
  padding: 15px;
  border-radius: 45px;
  background-color: white;
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}
.search__bar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  background: white;
  padding: 0.5rem;
  border-radius: 40px;
  color: black;
  padding: 15px;
  margin-bottom: 12rem;
}
input {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: white;
  color: black;
  font-family: var(--body-font);
}

/* ------Winter-------- */
.winter {
  position: relative;
  background-color: #7367f0;
  background-image: url(/assets/images/snowgif.gif);
  background-size: 250px;
  /* height: 500px; */
  margin-top: -2rem;
  margin-bottom: var(--mb-2);
}
.winter__title {
  font-family: var(--title-font);
  margin-bottom: var(--mb-2);
}
.frame1__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--mb-1);
}
.cards {
  display: flex;
  justify-content: center;
}
.cards img {
  width: 90%;
  border-radius: 20px;
}

/* Destinations */
.destinations {
  height: auto;
  background-color: white;
}
.d-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-card a {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-card img {
  width: 80%;
  border-radius: 30px;
}
.d__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-family: var(--title-font);
  text-align: center;
  margin-bottom: var(--mb-1);
}
.d__title h1 {
  font-size: 45px;
  line-height: 90%;
  letter-spacing: 2px;
}

/* Swiper Class */
.swiper-pagination {
  position: initial;
  margin-top: var(--mb-1);
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: black;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 0.5rem;
}
.swiper-button-next {
  color: black;
  margin-right: var(--mb-1-5);
}
.swiper-button-prev {
  color: black;
  margin-left: var(--mb-1-5);
}
/* ---Camp fire Cards */
.grid__cards {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 10px;
}
.camp__fire {
  width: 150px;
  height: 150px;
  border-radius: 40px;
  background-color: #0f2e60;
  text-align: center;
  color: white;
}
.camp__fire img {
  width: 35%;
  margin-top: 10px;
}
.arrow {
  width: 40px;
  height: 40px;
  margin-left: 6rem;
}
.arrow img {
  width: 70%;
  transform: rotate(180deg);
}

/* Condition */
.condition {
  text-align: center;
}
.condition img {
  width: 20%;
}

/* Comments */
.skate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skate img {
  width: 80%;
  margin-bottom: var(--mb-1-5);
}
.adventurers {
  text-align: center;
}
.adventurers h2 {
  font-family: var(--title-font);
  margin-bottom: var(--mb-1);
  font-size: 40px;
  line-height: 2rem;
}
.adventurers p {
  font-weight: var(--font-medium);
  color: #9b9b9b;
  margin-bottom: var(--mb-1-5);
}
.comment__table {
  width: 100%;
  height: 220px auto;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 15px;
}
.comment__table p {
  margin-bottom: var(--mb-0-75);
}
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars img {
  width: 7%;
  margin-right: 5px;
  margin-bottom: var(--mb-0-5);
}

/* Stories */

.stories p {
  font-weight: var(--font-medium);
  color: #9b9b9b;
  text-align: center;
}
.stories h2 {
  text-align: center;
  font-family: var(--title-font);
  font-size: 40px;
  line-height: 2rem;
  margin-bottom: var(--mb-1-5);
}
.first__p {
  margin-bottom: 2rem;
}
.little__cards {
  display: grid;
  grid-template-rows: repeat(3, 2fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
}
.little__card {
  width: 130px;
  height: 130px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}
.little__card h1 {
  font-size: 30px;
  font-weight: 800;
  color: #ff6554;
}
.little__card-middle {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}
.little__card-middle h1 {
  font-size: 40px;
  font-weight: 800;
  color: #ff6554;
}

/* Footer */
footer {
  background-color: #7367f0;
  height: 400px auto;
  padding: 25px;
}
footer h3 {
  font-family: var(--title-font);
  color: white;
  letter-spacing: 1px;
  margin-bottom: var(--mb-0-75);
}
footer p {
  color: white;
  font-size: 13px;
  margin-bottom: 2rem;
}

.socials img {
  width: 10%;
  margin: 5px;
}



/*login-css*/

body-login {
  font-family:Poppins;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.container-login {
  width: auto;
  margin: 7% auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 25px #13134f;
}

.header-login {
  text-align: center;
  padding-top: 75px;
}

.header-login h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 80px;
}

.main-login {
  text-align: center;
}

.main-login input,
button {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 40px;
}
.password {
  background-color: #c1ccfd;
}
.username {
  background-color: #c1ccfd;
}
.main-login button {
  padding-left: 0;
  background-color: #13134f;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 70px;
  color: white;
}

.main-login button:hover {
  box-shadow: 2px 2px 5px #3030b7;
  background-color: #0f2e60;
}
.main-login input:hover {
  box-shadow: 2px 2px 5px #333383;
  background-color: #acb7e5;
}

.main-login span {
  position: relative;
}

.main-login i {
  position: absolute;
  left: 15px;
  color: #333;
  font-size: 16px;
  top: 2px;
}
a :link {
  position: absolute;
  border-bottom: 10px;
  padding-bottom: 20px;
  color: #13134f;
}
/* a:hover {
  color: #3030b7;
} */

/*Register CSS*/

.container-register {
  width: 380px;
  margin: 7% auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 25px #13134f;
}

.header-register {
  text-align: center;
  padding-top: 75px;
}

.header-register h1 {
  color: whitesmoke;
  font-size: 45px;
  margin-bottom: 80px;
}

.main-register {
  text-align: center;
}

.main-register input,
button {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 40px;
}
.password {
  background-color: #c1ccfd;
}
.username {
  background-color: #c1ccfd;
}
.main-register button {
  padding-left: 0;
  background-color: #13134f;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 70px;
  color: white;
}

.main-register button:hover {
  box-shadow: 2px 2px 5px #3030b7;
  background-color: #0f2e60;
}
.main-register input:hover {
  box-shadow: 2px 2px 5px #333383;
  background-color: #acb7e5;
}

.main-register span {
  position: relative;
}

.main-register i {
  position: absolute;
  left: 15px;
  color: #333;
  font-size: 16px;
  top: 2px;
}


/* Via Ferrata */
.via-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
.heading h1 {
  color: white;
  font-size: 30px;
}

/* BREAKPOINTS */

/* FOR SMALL DEVICES */
@media screen and (max-width: 340px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__container {
    justify-content: center;
  }
  .home__data h1 {
    font-size: 30px;
    text-align: center;
  }
  .home__data p {
    font-size: 15px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .search__bar {
    width: 250px;
  }
  .grid__cards {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .container-login{
    width: 100px;
    margin: 10% auto;
  }
  .header-login{
    text-align: center;
    padding-top: 60px;
  }
  .header-login h1{
    font-size: 37px;
    margin-bottom: 70px;
  }
  .main-login input,
  button{
    width: 170px;

  }

}
@media screen and (max-width: 476px) {
  .grid__cards {
    justify-items: center;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .socials img {
    width: 8%;
  }
}
/* FOR MEDIUM DEVICES */
@media screen and (min-width: 476px) {
  .winter-container img {
    width: 70%;
  }
  .d-card img {
    width: 50%;
  }
  .grid__cards {
    justify-content: center;
    justify-items: center;
    grid-template-columns: 0.1fr 0.1fr;
    gap: 30px;
  }
  .condition img {
    width: 10%;
  }
  .skate img {
    width: 50%;
  }
  .socials img {
    width: 5%;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__img,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }
  .home__container {
    padding: 8rem 0 2rem;
  }
  .home__data p {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .search__bar {
    width: 400px;
  }
  /* .winter {
    position: relative;
    top: 36px;
    margin-bottom: 6rem;
  } */
  .winter__title h1 {
    font-size: 40px;
    margin-top: 2rem;
  }
  .cards img {
    width: 50%;
  }
  .d-card img {
    width: 40%;
  }
  .grid__cards {
    display: flex;
  }
  .camp__fire {
    width: 100%;
    height: 170px;
  }
  .condition {
    margin-left: 9rem;
    margin-right: 9rem;
  }
  .condition img {
    width: 10%;
  }
  .skate {
    display: block;
  }
  .skate img {
    width: 80%;
  }
  .comment__content {
    padding: 4rem 0 auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .stories__content {
    padding: 4rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
  }
  .little__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 3rem;
  }
  .socials img {
    width: 4%;
  }
}

/* FOR LARGE DEVICES */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav__logo {
    font-size: 30px;
  }
  .nav__link {
    font-size: 16px;
  }
  .home__links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
  }
  .home__links a{
    font-size: 15px;
  }
  .home__links-button {
    padding: 10px;
  }
  .search__bar {
    width: 500px;
  }
  .camp__fire {
    width: 160px;
    height: 150px;
  }
  .camp__fire img {
    width: 30%;
  }
  .camp__fire h3 {
    font-size: 15px;
  }
  .arrow img {
    /* position: relative;
    left: 50px; */
    width: 70%;
  }
  .f__p {
    font-size: 16px;
  }
  .socials img {
    width: 4%;
  }
  .footer__content {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

}